<div class="nav-inner">
  <div class="nav-left">
    <a class="plain" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <span class="nav-divider">/</span>
    <a class="muted plain" href="{{ site.baseurl }}/writing">Writing</a>
  </div>
  <div class="nav-right">
    <a class="muted plain" href="{{ site.baseurl }}/about">About</a>
    <button id="theme-toggle" title="Toggle theme" aria-label="Toggle theme" type="button" role="switch" aria-checked="false">
      <div class="theme-toggle-slide"></div>
      <div class="theme-toggle-switch"></div>
    </button>
  </div>
</div>
